[submodule "devwraps"]
	path = devwraps
	url = https://github.com/ozbayb/devwraps.git
	branch = dev
[submodule "zernike"]
	path = zernike
	url = https://github.com/jacopoantonello/zernike.git
	branch = master
